body{
  background-color : powderblue;
}

hr{
  height: 0px;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 100%;

}
img{
  height: 215px;
}

h1{
  color: #f40008;
}

h2{
  color: #1400f4;
}